<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaef.org">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
    <script type="text/javascript" src="jquery.js"></script>
</head>
<body>
<form th:if="${flag}==false" th:action="'/user/profile/'+${user.userId}+'/changePass'" method="post">
    <p th:text="${mes}"></p><br>
    <input type="password" name="pas"><br><br>
    <input type="submit" value="Проверить">
</form>
<form th:if="${flag}==true" th:action="'/user/profile/'+${user.userId}+'/change'" method="post">
    <p th:text="${mes}"></p><br>
    <input type="text" name="pas" id="pas" required><br><br>
    <input type="submit" id="sub" value="Сменить пароль">
</form>
<script>
 function st(){
     var p1 = document.getElementById("pas1").value;
     var p = document.getElementById("pas").value;
     var el = document.getElementById("sub");
     if (p1===p){
         el.removeAttribute("disabled");
     }
     else {
         p.setAttribute("title", "Пароли не совпадают");
         alert("Пароли не совпадают");
         el.setAttribute('disabled','')
     }
 }
</script>
</body>
</html>