<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaef.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление личных данных</title>
</head>
<body>
<h3>Добавление личных данных</h3>
<form th:action="'/person/add'" method="post">
    Имя: <input type="text" name="name" required>
    Фамилия: <input type="text" name="surname" required>
    Возраст: <input type="number" min="18" max="99" name="age" required>
    <input type="submit" value="Добавить">
</form>
<button onclick="location.href='/person'">Назад</button>
</body>
</html>