<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaef.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>
<script th:if="${successMessage}==true">alert("Отчет сохранен в D:/Docs")</script>
<header th:insert="~{blocks/header :: header}"></header>
<main>
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <h3 th:if="${user.username}!=null" th:text="'Имя пользователя: '+${user.name}"></h3><br>
        <div class="badge bg-success text-wrap" style="width: 90%; margin-left: 5%;">
            <p class="fs-2">На сегодняшний день информационные технологии являются очень важной частью бизнеса и оказывают влияние на все его процессы. Организация успешной работы предприятия в том числе состоит из оснащенности компьютерами, современными средствами связи, программным обеспечением и другими устройствами, позволяющими поддерживать связь на расстоянии и производить обмен файлами.
            Отслеживание протекания бизнес-процессов стало проще благодаря внедрению современных технологий обмена и управления информацией. Быстрый обмен и обработка информации на сегодняшний день могут являться значимыми частями в достижении успеха на рынке и повышения эффективности работы предприятия.</p>
        </div>
        <div class="badge bg-warning text-wrap" style="width: 70%; margin-top: 2%; margin-left: 2%;">
            <p class="fs-2 text-center">
                Для организации отслеживания количества товаров на складах, находящихся в разных географических точках необходимо ведение журналов, постоянный контроль за расходом материальных ценностей и организация других процессов для выполнения которых требуется ведение учета.
                Отслеживание торговых операций также является процессом, в котором требуется постоянный учет и контроль действий. Должно происходить фиксирование прибывающего количества прибывающего товара, соответствие товара заказанному и т.д.
            </p>
        </div>
        <div class="badge bg-success text-wrap" style="width: 90%; margin-left: 10%; margin-top: 2%;">
            <p class="fs-2 text-center">
                Для организации работы по учету того, какая компания поставила товар, какой компании он был продан, в каком количестве и т.д. требуется использование носителей данных, которые могут находится в разных местах, иметь разную структуру и быть сложными для использования.
                Автоматизация данного вида деятельности влияет на скорость и качество выполнения основных бизнес-процессов, позволяет совершенствовать регулирование материальных и информационных потоков. Это достигается путем внедрения программного обеспечения.
            </p>
        </div>
        <div class="badge bg-warning text-wrap" style="margin-top: 2%; margin-left: 5%; width: 90%;">
            <p class="fs-2 text-center">
                Разработка информационной системы, автоматизирующей торгово-складские операции помогает развитию отношений с контрагентами, повышению качества сотрудничества.
                Проектирование системы, повышающей качество и эффективность учета торгово-складских операций путем автоматизации учетных процессов является целью этой курсовой работы.
            </p>
        </div>
    </div>
</main>
</body>
</html>