<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaef.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>Hello</h1>
<h1 th:if="${user.username}==null"><a href="/login">Войти</a></h1>
<h3 th:if="${user.username}!=null" th:text="'Имя пользователя: '+${user.name}"></h3>
<div th:if="${user.username}!=null">
    <form  action="/logout" method="post">
        <input type="submit" value="Выйти">
    </form>
</div>
<div th:if="${user.username}!=null">
<button  onclick="location.href='/products'">Товары</button>
<button  onclick="location.href='/companies'">Компании</button>
<button  onclick="location.href='/warehouses'">Склады</button>
<button th:if="${user.isUser()}==false" onclick="location.href='/admin'">Меню Администратора</button>
<a th:if="${user.username}!=null" th:href="'/user/profile/'+${user.userId}">Профиль</a>
</div>
</body>
</html>