<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaef.org">
<head>
    <title>Подробная информация о товаре</title>
</head>
<body>
<form th:action="'/product/'+${product.product_id}+'/updateS'" method="post" enctype="multipart/form-data">
    Название товара: <input type="text" name="name" th:value="${product.name}" required><br>
    Категория: <input type="text" name="category" th:value="${product.category}" required><br>
    Цена: <input type="number" step="any" name="price" th:value="${product.price}" required><br>
    Заглавное фото: <input type="number" max="3" placeholder="Нет фото - введите 0" name="img_link"
                           th:value="${product.img_link}" required><br>
    Ставка НДС: <input type="number" step="any" name="tax" th:value="${product.tax}" required><br>
    Себестоимость: <input type="number" step="any" name="production_price" th:value="${product.production_price}"
                          required><br>
    <!--    Сделать warehouse Select-> option-->
    На складе: <select th:each="wh : ${warehouse}" name="warehouse" required>
    <option th:value="${wh.getName()}" th:text="${wh.getName()}"></option>
</select><br>
    Заменить фото:<br>
    <input type="file" name="file1"><br>
    <input type="file" name="file2"><br>
    <input type="file" name="file3"><br>
    <input type="submit" value="Редактировать">
</form>
Текущие фото:<br>
<img th:each="im : ${images}" th:if="${im.getId()}!= null" th:src="'/images/'+${im.getId()}" height="120px"/>
</body>
</html>