
<div th:fragment="header" >


  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">MyWarehouse</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <div th:if="${user.username}!=null" class="dropdown">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" id="dropdownMyLink"
                 data-bs-toggle="dropdown" >Управление</a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMyLink">
                <li> <a class="dropdown-item" th:if="${user.getMasterId()}==null" href="/warehouses">Склады</a> </li>
                <li> <a class="dropdown-item" th:if="${user.getMasterId()}==null" href="/companies">Компании</a> </li>
                <li> <a class="dropdown-item" href="/products">Товары</a> </li>
              </ul>
            </li>
          </div>
          <div th:if="${user.username}!=null" class="dropdown">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" id="dropdownSaleLink"
                 data-bs-toggle="dropdown" >Продажи</a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownSaleLink">
                <li> <a class="dropdown-item" href="/orders">Сделки</a> </li>
              </ul>
            </li>
          </div>
          <div th:if="${user.username}!=null" class="dropdown">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" id="dropdownMangeLink"
                 data-bs-toggle="dropdown">Администрирование</a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownManageLink">
                <li> <a class="dropdown-item" th:href="'/user/profile/'+${user.userId}">Профиль</a> </li>
                <li> <a class="dropdown-item" th:if="${user.isUser()}==false" href="/admin">Пользователи</a> </li>
                <li> <a class="dropdown-item" th:if="${user.getMasterId()}==null"
                    th:href="'/moderators'">Модераторы</a> </li>
              </ul>
            </li>
          </div>
          <div th:if="${user.username}!=null" class="dropdown">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                 aria-expanded="false">
                Сервис
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/displayBarGraph">Диаграмма сумм по сделкам</a></li>
                <li><a class="dropdown-item" th:if="${user.isUser()}==false"  href="/displayPieChart">Диаграмма количества пользователей</a></li>
                <li><a class="dropdown-item"  href="/saveBill">Записать отчет в EXCEL</a></li>
              </ul>
            </li>
          </div>
        </ul>
        <form th:if="${user.username}==null" class="d-inline-block" name="login" th:action="@{/login}" method="get">
          <button class="btn btn-outline-success" type="submit">Войти</button>
        </form>
        <form th:if="${user.username}!=null" class="d-inline-block" name="logout" th:action="@{/logout}" method="post">
          <button class="btn btn-outline-success" type="submit">Выйти</button>
        </form>
      </div>
    </div>
  </nav>
</div>